*.log
*.log.*
logs
.idea/

# Other files
output/*
log/*
.chroma
vector_store/*
content/*
api_content/*
knowledge_base/*

llm/*
embedding/*

pyrightconfig.json
loader/tmp_files
flagged/*

#Local data
data/**
data_*/*
chatGLM130B/*
test.py
__pycache__/
knowledge_base/
configs/model_config.py
